
# Python
__pycache__/
_pycache_/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Entorno virtual
venv/
.env

# VSCode
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# MySQL
*.sql

# Logs
*.log

*.mo
*.po
