body { background:#f4f6f9; }

.navbar-custom {
    background: linear-gradient(90deg, #023B82, #0C64CF, #3F89DA);
}

.sidebar {
    background:#fff;
    height:100vh;
    box-shadow:4px 0 12px rgba(0,0,0,0.06);
}

.sidebar .active {
    background:#1f4fa3 !important;
    color:white !important;
    border-left:4px solid #ffd400;
}

.custom-card {
    border-radius:14px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.table thead th{
    background:#dcdcdc;
    color: #495057;
}

.language-floating{

position:fixed;

bottom:25px;
left:25px;

z-index:9999;

background:white;

border-radius:50px;

padding:6px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

display:flex;
gap:6px;

}

/* WIDGET IDIOMA */

.language-widget{

position:fixed;

bottom:25px;
left:25px;

z-index:9999;

}

/* BOTON GLOBO */

.language-toggle{

width:50px;
height:50px;

border-radius:50%;

border:none;

background:#0b3d91;

color:white;

font-size:22px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.2);

transition:.2s;

}

.language-toggle:hover{

transform:scale(1.1);

}

/* MENU */

.language-menu{

position:absolute;

bottom:60px;
left:0;

background:white;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

overflow:hidden;

display:none;

flex-direction:column;

}

/* OPCIONES */

.language-widget{

position:fixed;

bottom:25px;
left:25px;

z-index:9999;

}

/* BOTON */

.language-toggle{

display:flex;
align-items:center;
justify-content:center;
gap:8px;

min-width:80px;
height:50px;

border:none;

background:#0b3d91;

color:white;

padding:0 16px;

border-radius:40px;

font-size:15px;
font-weight:600;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.25);

transition:.2s;

}

.language-toggle:hover{

transform:scale(1.05);

}

.language-current{

font-weight:600;

}

/* MENU */

.language-menu{

position:absolute;

bottom:60px;
left:0;

background:white;

border-radius:10px;

box-shadow:0 10px 30px rgba(0,0,0,.2);

overflow:hidden;

display:none;

flex-direction:column;

}

/* OPCIONES */

.language-option{

border:none;

background:white;

padding:10px 16px;

font-size:14px;

text-align:left;

cursor:pointer;

width:160px;

transition:.2s;

}

.language-option:hover{

background:#f3f4f6;

}