{% extends "bases/base_vendedor.html" %}
{% load static i18n %}

{% block title %}
{% trans "Tomar Pedido" %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/tomar_pedido.css' %}">

<h3 class="fw-bold">{% trans "Tomar Pedido" %}</h3>

<div class="card custom-card mt-4 p-4">

<h5>{% trans "Paso 1: Seleccionar Cliente" %}</h5>

<input 
type="search"
id="buscadorCliente"
class="form-control mb-3"
placeholder="{% trans 'Buscar por nombre, empresa o documento' %}"
>

<div class="table-responsive">

<table class="table">

<thead>

<tr>
<th>{% trans "Cliente" %}</th>
<th>{% trans "Empresa" %}</th>
<th>{% trans "Acción" %}</th>
</tr>

</thead>

<tbody>

{% for cliente in clientes %}

<tr
data-nombre="{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}"
data-empresa="{{ cliente.nombre_empresa }}"
>

<td>
{{ cliente.usuario.first_name }} {{ cliente.usuario.last_name }}
</td>

<td>
{{ cliente.nombre_empresa }}
</td>

<td>

<a href="{% url 'catalogo_vendedor' cliente.id %}"
class="btn btn-primary btn-sm">

{% trans "Seleccionar" %}

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>


<div class="card custom-card mt-4 p-4">

<strong>{% trans "Cliente:" %}</strong> {% trans "Sin Seleccionar" %}

</div>


<script src="{% static 'js/tomar_pedido.js' %}"></script>

<script>



function toggleLanguageMenu(){

const menu = document.getElementById("languageMenu");

if(menu.style.display === "flex"){
menu.style.display = "none";
}else{
menu.style.display = "flex";
}

}

</script>

{% get_current_language as LANGUAGE_CODE %}

<div class="language-widget">

<button class="language-toggle" onclick="toggleLanguageMenu()">

🌎

<span class="language-current">

{% if LANGUAGE_CODE == "es" %}
ES
{% else %}
EN
{% endif %}

</span>

</button>

<div class="language-menu" id="languageMenu">

<form action="{% url 'set_language' %}" method="post">

{% csrf_token %}
<input name="next" type="hidden" value="{{ request.path }}">

<button name="language" value="es" class="language-option">
🇪🇸 Español
</button>

<button name="language" value="en" class="language-option">
🇺🇸 English
</button>

</form>

</div>

</div>

</script>

{% endblock %}