{% extends "bases/base_vendedor.html" %}
{% load i18n %}

{% block title %}
{% trans "Crear Vendedor" %}
{% endblock %}

{% block content %}

<h2 class="mb-4">{% trans "Crear Vendedor" %}</h2>

<form method="POST">

{% csrf_token %}

<div class="mb-3">
<label>{% trans "Nombre" %}</label>
<input type="text" name="nombre" class="form-control" required>
</div>

<div class="mb-3">
<label>{% trans "Apellido" %}</label>
<input type="text" name="apellido" class="form-control" required>
</div>

<div class="mb-3">
<label>{% trans "Usuario" %}</label>
<input type="text" name="username" class="form-control" required>
</div>

<div class="mb-3">
<label>{% trans "Email" %}</label>
<input type="email" name="email" class="form-control" required>
</div>

<div class="mb-3">
<label>{% trans "Contrasena" %}</label>
<input type="password" name="password" class="form-control" required>
</div>

<div class="mb-3">
<label>{% trans "Telefono" %}</label>
<input type="text" name="telefono" class="form-control">
</div>

<div class="d-flex gap-2">
<button type="submit" class="btn btn-success">
{% trans "Crear Vendedor" %}
</button>

<a href="{% url 'lista_vendedores' %}" class="btn btn-secondary">
{% trans "Cancelar" %}
</a>
</div>

</form>

{% endblock %}