{% extends "bases/base_vendedor.html" %}
{% load i18n %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2 class="mb-4">{% trans "Panel Administrador" %}</h2>

<div class="row">

<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body text-center">
<h3>{{ clientes_pendientes }}</h3>
<p>{% trans "Clientes Pendientes" %}</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body text-center">
<h3>{{ clientes_aprobados }}</h3>
<p>{% trans "Clientes Aprobados" %}</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body text-center">
<h3>{{ vendedores }}</h3>
<p>{% trans "Vendedores" %}</p>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card shadow-sm">
<div class="card-body text-center">
<h3>{{ productos }}</h3>
<p>{% trans "Productos" %}</p>
</div>
</div>
</div>

</div>

{% endblock %}